.navbar-container {
  background-color: #282828;
  text-align: left !important;
}

.logo {
  margin-left: 30px;
}

.main-menu {
  background: #282828 !important;
  text-align: right !important;
  margin-right: 30px !important;
}

.ant-menu-horizontal {
  border-bottom: none !important;
}

.main-menu-item-text {
  color: #dddddd !important;
  font-size: 1.3em !important;
}

.anticon-title {
  font-size: 20px !important;
}

.page-title {
  color: #dddddd !important;
  float: left;
  margin-left: 30px;
}

.ant-table-pagination.ant-pagination {
  float: none !important;
  text-align: center !important;
}

.ant-menu-submenu-title {
  color: #dddddd !important;
}

.ant-menu-sub {
  background: #282828 !important;
}
