.login-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/co-screen2.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login-header {
  height: 15vh;
}

.login-logo {
  max-height: 100%;
}

.login-center {
  position: absolute;
  top: 15vh;
  height: 70vh;
  width: 100vw;
}

.login-footer {
  height: 15vh;
}

.login-center {
  background-color: rgba(41, 41, 41, 0.65);
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-content: center;
  box-shadow: inset 0 0 11px #000000;
}

.login-container h2,
.login-container p {
  color: #fff;
}

.login-container h2 {
  font-size: 4em;
}

.login-text {
  font-size: 1.5em;
}

.login-button {
  width: 140px;
}

.login-button span {
  font-size: 1.3em;
}
